.journals-page {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    90deg,
    rgb(253, 250, 245) 22.714%,
    rgba(253, 250, 245, 0.11) 100%
  );
}

.journals-page .container {
  width: 1300px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.journals-page .container .menu-box {
  width: 100%;
  height: 200px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.journals-page .container .menu-box .nav-item {
  font-family: "Nunito Black";
  font-size: 32px;
  font-weight: 900;
  line-height: 87px;
  letter-spacing: 0px;
  text-align: left;
  color: rgb(19, 39, 98);
  list-style: none;
}

.journals-page .container .menu-box .nav-item .nav-link {
  color: rgb(19, 39, 98);
}

.journals-page .container .boxes {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.journals-page .container .boxes .menu-title {
  margin-bottom: 30px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  font-family: "Nunito";
  font-size: 25px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0px;
  text-align: left;
  color: rgb(19, 39, 98);
}

.journals-page .container .boxes .table {
  width: 100%;
  height: auto;
  border: 1px solid #f6f6f6;
}

.journals-page .container .boxes .table thead {
  width: 100%;
  height: auto;
}

.journals-page .container .boxes .table tbody {
  width: 100%;
  height: auto;
}

.journals-page .container .boxes .table thead th {
  width: 100px;
  height: 40px;
  align-items: center;

  background-color: rgb(255, 216, 129);
  color: rgb(255, 255, 255);
  border: 1px solid #f6f6f6;
}

.journals-page .container .boxes .table tbody td {
  width: 100px;
  height: 30px;
  align-items: center;

  font-family: "Nunito";
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: left;

  color: rgb(115, 115, 115);
  background-color: rgb(186, 234, 255);
  border: 1px solid #f6f6f6;
}

.journals-page .container .boxes .table tbody td select {
  font-family: "Nunito";
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: left;

  color: rgb(115, 115, 115);
  border: 1px solid #f6f6f6;
  outline: none;
}

/* new box */

.journals-page .container .new-box {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 1300px;
  height: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.journals-page .container .new-box .button-box {
  margin-top: 45px;
  width: 1300px;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.journals-page .container .new-box .new-button {
  width: 200px;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  font-family: "Nunito ExtraBold";
  font-size: 14px;
  font-weight: 800;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: center;
  color: rgb(255, 255, 255);
  border-radius: 7px;
  background: rgb(255, 216, 129);
  border: none;
  cursor: pointer;
}

.journals-page .container .new-box .button-box .cancel-button {
  width: 200px;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  font-family: "Nunito ExtraBold";
  font-size: 14px;
  font-weight: 800;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: center;
  color: rgb(255, 255, 255);
  border-radius: 7px;
  background: rgb(255, 184, 204);
  border: none;
  cursor: pointer;
}

.journals-page .container .new-box .button-box .create-button {
  width: 200px;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  font-family: "Nunito ExtraBold";
  font-size: 14px;
  font-weight: 800;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: center;
  color: rgb(255, 255, 255);
  border-radius: 7px;
  background: rgb(134, 212, 245);
  border: none;
  cursor: pointer;
}

.journals-page .container .new-box .form-box {
  width: 1300px;
  height: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.journals-page .container .new-box .form-box strong {
  font-family: "Jost";
  font-size: 28px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: left;
  color: rgb(19, 39, 98);
}

.journals-page .container .new-box .form-box .box {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.journals-page .container .new-box .form-box .box .input-box-x {
  width: 100%;
  height: 70px;

  display: flex;
  flex-direction: column;
}

.journals-page .container .new-box .form-box .box .input-box {
  margin-top: 45px;
  margin-bottom: 30px;
  width: 45%;
  height: 70px;

  display: flex;
  flex-direction: column;
  border: 1px solid #e0e0e0;
  background: linear-gradient(
    90deg,
    rgb(253, 250, 245) 22.714%,
    rgba(253, 250, 245, 0.11) 100%
  );
}

.journals-page .container .new-box .form-box .box .input-box-m {
  width: 100%;
  height: 140px;

  display: flex;
  flex-direction: column;
}

.journals-page .container .new-box .form-box .box .input-box-x input {
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  outline: none;
  border: 1px solid #e0e0e0;
  background: linear-gradient(
    90deg,
    rgb(253, 250, 245) 22.714%,
    rgba(253, 250, 245, 0.11) 100%
  );
}

.journals-page .container .new-box .form-box .box .input-box-x span {
  font-family: "Jost";
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
  color: rgb(19, 39, 98);
}

.journals-page .container .new-box .form-box .box .input-box span {
  font-family: "Jost";
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
  color: rgb(19, 39, 98);
}

.journals-page .container .new-box .form-box .box .input-box-m span {
  font-family: "Jost";
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
  color: rgb(19, 39, 98);
}

.journals-page .container .new-box .form-box .box .input-box input {
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #f6f6f6;
  outline: none;
  background: linear-gradient(
    90deg,
    rgb(253, 250, 245) 22.714%,
    rgba(253, 250, 245, 0.11) 100%
  );
}

.journals-page .container .new-box .form-box .box .input-box select {
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;

  font-family: "Jost";
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
  color: rgb(19, 39, 98);
  border: 1px solid #f6f6f6;
  outline: none;
  background: linear-gradient(
    90deg,
    rgb(253, 250, 245) 22.714%,
    rgba(253, 250, 245, 0.11) 100%
  );
}

.journals-page .container .new-box .form-box .box .input-box-m input {
  width: 100%;
  height: 140px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #e0e0e0;
  outline: none;
  background: linear-gradient(
    90deg,
    rgb(253, 250, 245) 22.714%,
    rgba(253, 250, 245, 0.11) 100%
  );
}

.journals-page .container .new-box .form-box .image-box {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.journals-page .container .new-box .form-box .image-box .upload-img-box {
  margin-top: 35px;
  position: relative;
  width: 140px;
  height: 140px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.journals-page .container .new-box .form-box .image-box .upload-img-box img {
  position: relative;
  width: 100%;
  height: 140px;
  object-fit: contain;
  border: 1px solid #e9e9e9;
}

.journals-page .container .new-box .form-box .image-box .upload-img-box #file {
  opacity: 0;
  border: none;
  border-radius: 10px;
  background: rgb(125, 125, 125);
  position: absolute;
  left: 0px;
  width: 100%;
  top: 0px;
  height: 100%;
  cursor: pointer;
}
